.formContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
.header {
  text-align: center;
  color: white;
}
.btn,
.label {
  padding: 0.6rem;
  color: brown;
}
.btn {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: green;
  color: white;
  box-shadow: 5px 2.5px 2.5px grey;
  margin-bottom: 1em;
  padding: 0.8rem;
}
.btn:hover {
  box-shadow: 10px 5px 5px rgba(192, 167, 23, 0.409);
  color: red;
}
.fieldset {
  padding: 1rem;
  margin: 1rem;
}
