.liContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  align-items: center;
}
.listItem {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 70%;
  background-color: rgb(13, 119, 149);
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: 0.7s ease-in normal slidein;
}
.listItem:hover {
  box-shadow: 10px 5px 5px rgba(192, 167, 23, 0.409);
}
.title {
  text-align: center;
  padding: 1rem;
  color: white;
}
.h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.span {
  margin: 1rem;
  color: white;
}
@keyframes slidein {
  from {
    transform: scale(0.1);
    opacity: 0.2;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.date {
  color: white;
  font-size: large;
}
.btn {
  border-radius: 0.6rem;
}
.btn::active {
  animation: 0.7s ease-out normal slidein;
}
